<div class="modal-header">
  <h4 class="modal-title">Edit Task</h4>
</div>
<div class="modal-body">
  <form
      name="forms.editTaskForm"
      class="form">
    <!-- Task name -->
    <div class="form-group">
      <div class="field">
        <label
            for="fldTaskName">Task:</label>
        <input
            id="fldTaskName"
            name="fldTaskName"
            type="text"
            class="form-control"
            ng-model="taskToEdit.taskName"
            placeholder="Task name..."
            required>
        <div ng-messages="forms.editTaskForm.fldTaskName.$error" ng-show="hasError('fldTaskName')">
          <div ng-message="required">This field is required</div>
        </div>
      </div>
    </div>
    <!-- Task description -->
    <div class="form-group">
      <div class="field">
        <label
            for="fldTaskDescription">Description:</label>
        <textarea
            id="fldTaskDescription"
            name="fldTaskDescription"
            class="form-control"
            ng-model="taskToEdit.taskDescription"
            placeholder="Task description...">
        </textarea>
        <div ng-messages="forms.editTaskForm.fldTaskDescription.$error" ng-show="hasError('fldTaskDescription')">
          <div ng-message="required">This field is required</div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
      name="btnSaveTask"
      type="submit"
      class="btn btn-primary"
      ng-click="submit()">Save task</button>
  <button
      name="btnCancel"
      type="submit"
      class="btn btn-default"
      ng-click="$dismiss()">Cancel</button>
</div>