<div>
  <div class="form-group">
    <button
        class="btn btn-default"
        ui-sref="main.layout.projects">
      Projects
    </button>
    <button
        class="btn btn-default"
        ui-sref="main.layout.persons">
      Persons
    </button>
    <button
        class="btn btn-default"
        ui-sref="main.layout.tasks">
      Tasks
    </button>
    <button
        class="btn btn-default"
        ui-sref="main.layout.contacts">
      Contacts
    </button>
    <button
        class="btn btn-default"
        ui-sref="login">
      Log out
    </button>
  </div>
</div>