<!-- TODO Rewrite template -->
<!-- Add contact header -->
<div class="modal-header">
  <h4 class="modal-title">Add contact</h4>
</div>
  <!-- Add contact body -->
<div class="modal-body">
  <form
      name="forms.ContactAddForm"
      class="form">
    <!-- Project's name -->
    <div class="form-group">
      <input
          name="projectName"
          type="text"
          class="form-control"
          ng-model="formData.project"
          placeholder="Project name..."
          required>
    </div>
    <!-- Organization's name -->
    <div class="form-group">
      <input
          name="organizationName"
          type="text"
          class="form-control"
          ng-model="formData.organization"
          placeholder="Organization name..."
          required>
    </div>
    <!-- Member's role name in project -->
    <div class="form-group">
      <input
          name="roleName"
          type="text"
          class="form-control"
          ng-model="formData.role"
          placeholder="Role name..."
          required>
    </div>
    <div class="form-group">
      <!-- Contact's last name -->
      <input
          name="lastName"
          type="text"
          class="form-control"
          ng-model="formData.surname"
          placeholder="Last name...">
    </div>
    <!-- Contact's first name -->
    <div class="form-group">
      <input
          name="firstName"
          type="text"
          class="form-control"
          ng-model="formData.name"
          placeholder="First name..."
          required>
    </div>
    <!-- Contact's middle name -->
    <div class="form-group">
      <input
          name="middleName"
          type="text"
          class="form-control"
          ng-model="formData.patronemic"
          placeholder="Middle name...">
    </div>
    <div class="form-group">
      <!-- Contact's work telephone number -->
      <input
          name="work_tel"
          type="text"
          class="form-control"
          ng-model="formData.tel_work"
          placeholder="Work telephone number...">
    </div>
    <!-- Contact's mobile telephone number -->
    <div class="form-group">
      <input
          name="mobile_tel"
          type="text"
          class="form-control"
          ng-model="formData.tel_mobile"
          placeholder="Mobile telephone number...">
    </div>
    <!-- Contact's email -->
    <div class="form-group">
      <input
          name="email"
          type="text"
          class="form-control"
          ng-model="formData.email"
          placeholder="Email...">
    </div>
  </form>
</div>
<!-- Add contact footer -->
<div class="modal-footer">
  <div class="form-group">
    <button
        name="addContact"
        type="submit"
        class="btn btn-default"
        ng-click="addContact()">Add contact</button>
    <button
        name="Cancel"
        type="submit"
        class="btn btn-default"
        ui-sref="contacts">Cancel</button>
  </div>
</div>