<div class="modal-header">
  <h4 class="modal-title">Add task</h4>
</div>
<div class="modal-body">
  <form
      name="forms.addTaskForm"
      class="form">
    <!-- Task name -->
    <div class="form-group">
      <div class="field">
        <label
            for="fldTaskName">
          Task:</label>
        <input
            id="fldTaskName"
            name="fldTaskName"
            type="text"
            class="form-control"
            ng-model="taskToAdd.taskName"
            placeholder="Task name..."
            required>
        <div ng-messages="forms.addTaskForm.taskName.$error" ng-show="hasError('fldTaskName')">
          <div ng-message="required">This field is required</div>
        </div>
      </div>
    </div>
    <!-- Task description -->
    <div class="form-group">
      <div class="field">
        <label
            for="fldTaskDescription"
            >Description:</label>
        <input
            id="fldTaskDescription"
            name="fldTaskDescription"
            type="text"
            class="form-control"
            ng-model="taskToAdd.taskDescription"
            placeholder="Task description..."
            required>
        <div ng-messages="forms.addTaskForm.taskDescription.$error" ng-show="hasError('fldTaskDescription')">
          <div ng-message="required">This field is required</div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
      name="btnAddTask"
      type="submit"
      class="btn btn-primary"
      ng-click="submit()">Add task</button>
  <button
      name="btnCancel"
      type="button"
      class="btn btn-default"
      ng-click="$dismiss()">Cancel</button>
</div>