<div class="modal-header">
  <h4 class="modal-title">Add task</h4>
</div>
<div class="modal-body">
  <form
      name="forms.addTaskForm"
      class="form">
    <!-- Task name -->
    <div class="form-group">
      <input
          name="fldTaskName"
          type="text"
          class="form-control"
          ng-model="taskToAdd.taskName"
          placeholder="Task name..."
          required>
      <div ng-messages="forms.addTaskForm.taskName.$error" ng-show="hasError('fldTaskName')">
        <div ng-message="required">This field is required</div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
      name="btnAddTask"
      type="submit"
      class="btn btn-default"
      ng-click="submit()">Add task</button>
  <button
      name="btnCancel"
      type="submit"
      class="btn btn-default"
      ng-click="$dismiss">Cancel</button>
</div>