<br>
<div class="container">
  <button class="btn btn-default" ui-sref="main">Home</button>
</div>
<br>
<div class="container">
  <form class="form">
    <div class="form-group">
      <input type="text" class="form-control" name="projectName" placeholder="Enter project name...">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="projectDescription" placeholder="Enter project description...">
    </div>
    <div class="form-group">
      <input type="date" class="form-control" name="projectStartDate" placeholder="Enter project start date...">
    </div>
    <div class="form-group">
      <input type="date" class="form-control" name="projectEndDate" placeholder="Enter project end date...">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="projectBudget" placeholder="Enter project budget...">
    </div>
    <div class="form-group">
      <select type="text" class="form-control" name="projectManager" placeholder="Enter project manager...">
        <option>Абенов Д.К.</option>
        <option>Ожанов Р.А.</option>
      </select>
    </div>
    <button type="submit" name="addProject" class="btn btn-default">Add project</button>
    <button type="submit" name="Cancel" class="btn btn-default" ui-sref="projects">Cancel</button>
  </form>
</div>