<div class="container">
  <div class="form-group">
    <button
        class="btn btn-default"
        ui-sref="persons">Persons</button>
  </div>
</div>
<div class="container">
  <form name="forms.addPersonForm" class="form">
    <!-- Person's IIN -->
    <div class="form-group">
      <input
          name="Person's IIN"
          type="number"
          class="form-control"
          ng-model="addPerson.iin"
          placeholder="IIN..."
          required>
    </div>
    <!-- Person's last name -->
    <div class="form-group">
      <input
          name="Person's last name"
          type="text"
          class="form-control"
          ng-model="addPerson.lastName"
          placeholder="Last name..."
          required>
    </div>
    <!-- Person's first name -->
    <div class="form-group">
      <input
          name="Person's first name"
          type="text"
          class="form-control"
          ng-model="addPerson.firstName"
          placeholder="First name..."
          required>
    </div>
    <!-- Person's middle name -->
    <div class="form-group">
      <input
          name="Person's middle name"
          type="text"
          class="form-control"
          ng-model="addPerson.middleName"
          placeholder="Middle name..."
          required>
    </div>
    <!-- Person's date of berth -->
    <div class="form-group">
      <input
          name="Person's date of berth"
          type="date"
          class="form-control"
          ng-model="addPerson.dob"
          placeholder="Date of birth..."
          required>
    </div>
    <!-- Person's sex -->
    <div class="form-group">
      <select
          name="Person's sex"
          class="form-control"
          ng-model="addPerson.sex"
          placeholder="Sex..."
          required>
        <option value="1" selected>Male</option>
        <option value="2">Female</option>
      </select>
    </div>
    <div class="form-group">
      <div>
        <button
            name="Add person button"
            type="submit"
            class="btn btn-default"
            ng-click="addNewPerson()">Add person</button>
        <button
            name="Cancel"
            type="submit"
            class="btn btn-default"
            ui-sref="projects">Cancel</button>
      </div>
    </div>
  </form>
</div>