<br>
<div class="container">
  <button class="btn btn-default" ui-sref="main">Home</button>
  <button class="btn btn-default" ui-sref="addPerson">Add person</button>
  <hr>
  <input class="form-control" type="text" ng-model="persons.searchPerson" placeholder="Search person...">
</div>
<br>
<div class="container">
  <table class="table table-hover">
    <tr>
      <th>ИИН</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
    </tr>
    <tr ng-repeat="person in persons | filter: persons.searchPerson track by $index">
      <td class="center">
        <span ng-bind="person.iin"></span>
      </td>
      <td>
        <span ng-bind="person.lastname"></span>
      </td>
      <td>
        <span ng-bind="person.firstname"></span>
      </td>
      <td>
        <span ng-bind="person.middlename"></span>
      </td>
      <td class="center">
        <span ng-bind="person.dob"></span>
      </td>
      <td>
        <button type="button" class="btn btn-sm" ng-click="deletePerson(person.id)">Delete</button>
      </td>
    </tr>
  </table>
</div>