<br>
<div class="container">
  <button class="btn btn-default" ui-sref="main">Home</button>
</div>
<br>
<div class="container">
  <table class="table table-hover">
    <tr>
      <th>Проект</th>
      <th>Организация</th>
      <th>Роль в проекте</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Рабочий телефон</th>
      <th>Мобильный телефон</th>
      <th>Электронная почта</th>
    </tr>
    <tr ng-repeat="contact in contacts">
      <td>
        <span ng-bind="contact.project"></span>
      </td>
      <td>
        <span ng-bind="contact.organization"></span>
      </td>
      <td>
        <span ng-bind="contact.role"></span>
      </td>
      <td>
        <span ng-bind="contact.surname"></span>
      </td>
      <td>
        <span ng-bind="contact.name"></span>
      </td>
      <td>
        <span ng-bind="contact.patronemic"></span>
      </td>
      <td>
        <span ng-bind="contact.tel_work"></span>
      </td>
      <td>
        <span ng-bind="contact.tel_mobile"></span>
      </td>
      <td>
        <span ng-bind="contact.email"></span>
      </td>
    </tr>
  </table>
</div>