<br>
<div class="container">
  <button class="btn btn-default" ui-sref="main">Home</button>
  <button class="btn btn-default" ui-sref="addProject">Add project</button>
</div>
<br>
<div class="container">
  <table class="table table-hover">
    <tr>
      <th>Проект</th>
      <th>Описание</th>
      <th>Дата начала</th>
      <th>Дата завершения</th>
      <th>Бюджет проекта</th>
      <th>Менеджер проекта</th>
    </tr>
    <tr ng-repeat="project in projects">
      <td>
        <span ng-bind="project.projectName"></span>
      </td>
      <td>
        <span ng-bind="project.projectDescription"></span>
      </td>
      <td class="date">
        <span ng-bind="project.projectStartDate"></span>
      </td>
      <td class="date">
        <span ng-bind="project.projectEndDate"></span>
      </td>
      <td class="money">
        <span ng-bind="project.projectBudget"></span>
      </td>
      <td>
        <span ng-bind="project.projectManagerId"></span>
      </td>
    </tr>
  </table>
</div>